[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mininterface"
version = "0.1.0"
description = "A minimal access to GUI, TUI, CLI and config"
authors = ["Edvard Rejthar <edvard.rejthar@nic.cz>"]
license = "GPL-3.0-or-later"
homepage = "https://github.com/e3rd/mininterface"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
tyro = "*"
pyyaml = "*"
envelope = "*"
requests = "*"
tkinter-tooltip = "*"
tkinter_form = "*"

[tool.poetry.scripts]
mininterface = "mininterface.__main__:main"