[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mininterface"
version = "0.7.0"
description = "A minimal access to GUI, TUI, CLI and config"
authors = ["Edvard Rejthar <edvard.rejthar@nic.cz>"]
license = "GPL-3.0-or-later"
homepage = "https://github.com/CZ-NIC/mininterface"
readme = "README.md"

[tool.poetry.dependencies]
# Minimal requirements
python = "^3.10"
tyro = "*"
typing_extensions = "*"
pyyaml = "*"
# Standard requirements
autocombobox = "1.4.2"
textual = "~0.84"
tkinter-tooltip = "*"
tkinter_form = "0.1.5.2"
tkscrollableframe = "*"

[tool.poetry.extras]
web = ["textual-serve"]
all = ["textual-serve"]

[tool.poetry.scripts]
mininterface = "mininterface.__main__:main"

[tool.poetry.dev-dependencies]
attrs = "*"
pydantic = "*"
